@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
    box-sizing: border-box;
}
html, body {
    background-color: white;
    font-family: 'Black Han Sans', sans-serif;
    color: black;
    overflow-x: hidden;
}

.main-headers {
    text-align: center;
    color: black;
    font-size: 85px;
}
.sub-headers {
    text-align: center;
    color: black;
    font-size: 30px;
}

/*IMAGES*/
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100%;
}

.image-right {
    margin-left: 55px;
    margin-right: 100px;
    text-align: right;
    float: right;
}

.content-left {
    float: left;
    margin-left: 100px;
}

/* for image sizing */
.container {
    width: 420px;
    height: 120px;
}
/* resize images */
.container img {
    width: 100%;
    height: auto;
}

/*BUTTONS*/
.button {
    background-color: #ed6a61;
    color: black;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Black Han Sans', sans-serif;
}
.button:hover {
    background-color: #e7e7e7;
}

@media (max-width: 424px) {
    .main-headers {
        font-size: 72px;
    }
}
@media (max-width: 320px) {
    .main-headers {
        font-size: 63px;
    }
}
@media (max-width: 280px) {
    .main-headers {
        font-size: 55px;
    }
    .image-center {
        margin-left: -16px;
        margin-right: auto;
        display: block;
    }
}
@media (max-width: 440px) {
    .image-center {
        border-radius: 0;
    }
}
@media (max-width: 375px) {
    .content-left {
        margin: 0;
    }
    .image-right {
        margin-left: 0;
        margin-right: 0;
        text-align: unset;
        float: none;
    }
}
@media (max-width: 411px) {
    .content-left {
        margin: 0;
    }
    .image-right {
        margin-left: 0;
        margin-right: 0;
        text-align: unset;
        float: none;
    }
}
@media (max-width: 414px) {
    .content-left {
        margin: 0;
    }
    .image-right {
        margin-left: 0;
        margin-right: 0;
        text-align: unset;
        float: none;
    }
}
@media (max-width: 1024px) {
    .content-left {
        margin: 0;
    }
    .image-right {
        margin-left: 55px;
        margin-right: 18px;
        text-align: right;
        float: right;
    }
}
@media (max-width: 450px) {
    .content-left {
        margin: 0;
    }
    .container img {
        width: 91%;
        height: auto;
    }
}
@media (max-width: 600px) {
    .content-left {
        margin: 0;
    }
    .container img {
        width: 83%;
        height: auto;
    }
}
