* {
    box-sizing: border-box;
}
html {
    background-color: black;
}
.main-headers {
    text-align: center;
    color: white;
}
.sub-headers {
    text-align: center;
    color: white;
}
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
