<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/about-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">About</h2><br>
</div>
<div class="content-left">
    <ul>
        <li>Graduated from Cornell</li>
        <li>14 year career at Johnson and Johnson</li>
        <li>I haven't decided</li>
        <li>If I will</li>
        <li>Make this a list</li>
        <li>Or just make it</li>
        <li>a paragraph.</li>
        <li>Images</li>
        <li>Are</li>
        <li>All</li>
        <li>Placeholders</li>
        <li>and</li>
        <li>are</li>
        <li>not</li>
        <li>laid</li>
        <li>out</li>
        <li>correctly</li>
    </ul>
</div>
<div class="container image-right">
    <img src="../images/TaraWithDog.PNG" alt="Tara with dog" class="image-right">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button class="button" onclick="location.href='entrepreneur.html'" type="button">Entrepreneur</button>
</body>
</html>
