<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/diglabs-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">Dig Labs</h2><br>
</div>
<p>This page will talk about Tara taking the leap to start her business, the journey getting it up and running and the current status. This is also the page that will have the required link to another site.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button class="button" onclick="location.href='https://getdiglabs.com/'" type="button">Visit Dig Labs</button>
</body>
</html>
