<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/diglabs-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">Dig Labs</h2><br>
</div>
<p class="content-center">Fast-forward to today and Dig Labs has transformed from a pet supplement company into an individualized pet health-tech company, that focuses on the total-health needs of your pet. </p>
<div class="bottom-images-div flex-container">
    <img src="../images/TaraWithDog copy.PNG" alt="Tara with dog">
    <img src="../images/TaraWithDog copy.PNG" alt="Tara with dog">
</div>
<br><br><br><br><br>
<button class="button" onclick="location.href='https://getdiglabs.com/'" type="button">Visit Dig Labs</button>
</body>
</html>
