<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/entrepreneur-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">Entrepreneurial Journey</h2><br>
</div>
<p class="content-center">Tara recognizes that there is a gap in pet health. She realized that when you take your dog to the vet, you usually get cookie-cutter treatment. As dog owners know this can be frustrating due to the trial and error you must go through in order to solve your pets specific health issue. This is where the idea of individualized dog supplements spawned. Tara and a friend/ colleague decide to begin the steps towards formulating nutritional supplement powder that can be formulated based on the specific needs of your pet.</p>
<div class="bottom-images-div flex-container">
<img src="../images/TaraWithDog copy.PNG" alt="Tara with dog">
    <img src="../images/TaraWithDog copy.PNG" alt="Tara with dog">
</div>
<br><br><br><br><br><br>
<button class="button" onclick="location.href='diglabs.html'" type="button">Dig Labs</button>
</body>
</html>
